* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
  }
  
  #grid-container {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 100vmin;
    height: 100vmin;
  }
  
  .grid-item {
    background-color: rgb(255, 255, 255);
    border: 1px solid #1b1b1b;
  }
  
  body {
    gap: 5px;
  }

  #update {
    position: fixed;
    top: 20px; 
    right: 20px;     
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); 
    z-index: 1000;
  }
  #select-color {
    position: fixed;
    top: 80px; 
    right: 20px;     
    padding: 10px 20px;
    background-color: #058655;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); 
    z-index: 1000;
  }