* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
  }
  
  #grid-container {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 100vmin;
    height: 100vmin;
  }
  
  .grid-item {
    background-color: rgb(255, 255, 255);
    border: 1px solid #1b1b1b;
  }
  
  body {
    gap: 5px;
  }

  #update {
    position: fixed; /* Fixa o botão em um local específico da tela */
    bottom: 20px;    /* Distância do botão em relação ao fundo da janela */
    right: 20px;     /* Distância do botão em relação à direita da janela */
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Sombra para destaque */
    font-size: 16px;
    z-index: 1000; /* Garante que o botão esteja na frente de outros elementos */
  }